*{
    box-sizing: border-box;
  }
  
  body {
    background-color: rgba(231, 249, 255, 0.945);
    color: rgb(0, 0, 58);
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.8;
  }
  
  img {
    position: center;
    max-width: 75%;
    height: auto;
  }
  
  
    h1 {
        color: navy;
        text-align: center;
        font-size: 35px;
        font-family: sans-serif;
        font-variant: small-caps;
        text-shadow: 4px 4px rgb(131, 182, 199);
        padding-top: 35px;
    }
  
    /* The navbar container */
  .topnav {
    overflow: hidden;
    background-color: rgb(190, 236, 252);  
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: rgb(22, 22, 126);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: rgb(141, 207, 230);
    color: white;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    box-shadow: 10px 10px 5px rgb(131, 182, 199);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    box-shadow: 10px 10px 5px rgb(131, 182, 199);
  }
  
   .footer {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  table {
    font-family: arial, sans-serif;
    font-variant: small-caps;
    border-color: rgb(190, 236, 252);
    border-collapse: collapse;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  td,
  th {
    border: 2px solid ;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    opacity: 0.6;
  }
  
  tr:nth-child(odd) {
    opacity: 0.6;
  } 
  
  .videos {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-variant: small-caps;
    text-shadow: 2px 2px rgb(131, 182, 199);
    padding-top: 30px
    padding-bottom: 20px;
    background-color: rgb(163, 201, 214);
  }
  